body {
  margin: 0;
  padding: 0;
}

.category__title {
  text-align: start;
  font-weight: bold;
}

.detail__modal {
  margin-bottom: 10px;
}

.detail__modal__fav {
  margin-bottom: 10px;
  color: #337af6;
}

.detail__modal__fav__text {
  margin-left: 5px;
}

.m-left-text {
  margin-left: 5px;
}